@import '../../App';

.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 80%;
    display: flex;
    height: 800px;

    .right {
      flex: 1;
      border-radius: 10px;
      background: url("../../Components/Assets/chat.jpg") center;
      background-size: cover;
    }
    .left {
      flex: 1;
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      //   gap: 50px;
      //   justify-content: center;

      img {
        width: 15rem;
        height: auto;
        //   float: right;
      }

      h1 {
        font-family: $font-eb-garamond;
        text-align: left;
        color: #004e64;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-family: $font-rubik;

        input {
          border: none;
          border-bottom: 1px solid;
          padding: 10px;
        }

        select {
          padding: 10px;
        }
      }
      .connection {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 50px;
        gap: 20px;

        span {
          font-family: $font-rubik;
          color: #004e64;
        }
      }
    }
  }
}
