@import "../../app";

.navProfil {
  background-color: $blue-color;

  .icons {
    color: $beige-color;
    font-size: 1.5rem;
  }
  .activeIcon {
    @media (max-width: 768px) {
      color: $white-color;
    }
  }
}
