@import "../../App";

.home {
  .presentation {
    background-color: $beige-color;
    font-family: $font-eb-garamond;
    font-size: 1.1rem;

    .card {
      color: $blue-color;
      background-color: $beige-color;

      .card-header {
        background-color: $beige-color;
      }

      .introduction {
        background-color: $white-color;
        border-radius: 10px 60px 10px 10px;
        height: 8rem;
      }
    }
    .hr {
      opacity: 1;
    }

    .how {
      background-color: $white-color;
      border-radius: 10px 10px 10px 70px;
      width: fit-content;

      li {
        font-size: 1rem;
      }
    }

    .introImg {
      width: 18rem;
      height: auto;
    }

    .postCard {
      button {
        padding: 40px;
        border-radius: 20px;
      }
    }
  }

  .happyEndings {
    background-color: $blue-color;

    h3,
    span {
      color: $beige-color;
    }

    .iconStar {
      width: 15rem;
      height: 15rem;
    }
  }
  .loupeIcon {
    font-size: 1.5rem;
  }
}
