@import "../../App";

.publishPost {
  text-decoration: none;
  color: $blue-color;
  font-weight: bold;

  .plusIcone {
    color: $beige-color;
    border: 1px solid $beige-color;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    padding: 2px;
  }
}

select,
input {
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 2px solid $beige-color;
  border-radius: 20px;
  width: 200px;
}
