@import "../../App";

.onePost {
  .isOwnerAction {
    button {
      background-color: transparent;
      border: none;

      .iconAction {
        color: $beige-color;
        font-size: 1.5rem;
        &:hover {
          color: $blue-color;
        }
      }
    }
    .modalDelete {
      .hello {
        .Button {
          padding: 5px;
          background-color: red !important;
          color: red !important;
        }
      }
    }
  }

  .tag {
    font-weight: bold;
    background-color: $blue-color;
    color: $beige-color;
    padding: 8px 30px;
    border-radius: 20px;
  }

  .icon {
    color: $beige-color;
    font-size: 2rem;
  }

  h5,
  p {
    text-align: left;
  }

  span {
    text-align: start;
  }

  .details {
    background-color: $beige-color;
    border-radius: 25px;
    padding: 15px;
    font-weight: bold;

    h5 {
      text-decoration: underline;
      padding-bottom: 5px;
    }
  }

  hr {
    color: $beige-color;
  }

  .city {
    white-space: nowrap;
  }

  button {
    padding: 15px 20px;
    border-radius: 20px;
    &:hover {
      color: $beige-color;
    }
  }
}
