@import "../../app";

.pagination {
  span,
  p {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .active {
    font-weight: bold;
    color: $beige-color;
    background-color: $blue-color;
  }
}
