@import "../../App";

.navbar {
  font-family: $font-eb-garamond;

  .navbar-toggler {
    border: none;
    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  .navbar-brand {
    img {
      width: 10rem;
      height: auto;
    }
  }

  .goToProfil {
    text-decoration: none;
    color: inherit;
  }

  .avatar {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    border: 3px solid $beige-color;
  }

  button {
    border-radius: 30px;
    padding: 5px 20px;
    font-weight: normal;
  }

  .navbar-nav .nav-link {
    color: $blue-color;
    &:hover,
    &:focus {
      color: $blue-color;
    }
  }
}
