@import "../../app";

.post-form {
  .is-active {
    width: 600px;
    margin: auto;
    border-radius: 50px;
    padding: 10px;
    padding-top: 20px;
    background-color: $beige-color;
  }

  label,
  p {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="date"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid $beige-color;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  textarea {
    height: 150px;
  }

  input[type="radio"] {
    vertical-align: baseline;
    margin: 6px;
  }

  label.required::before,
  select.required::before,
  p.required::before {
    content: "*";
    color: red;
    margin-right: 5px;
  }

  Button {
    border-radius: 30px;
    padding: 12px 20px;

    &:hover {
      color: $beige-color;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  @media (max-width: 575.98px) {
    .questionsForm {
      p,
      label {
        font-size: 0.8rem;
      }
    }
  }
}
