.post-form {
  label,
  p {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="date"],
  textarea,
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }

  label.required::before,
  select.required::before {
    content: '*';
    color: red;
    margin-right: 5px;
  }

  Button {
    border-radius: 10px;
  }
}
